<div class="footer">
  <div class="footer-links">
    <%= link_to "", "hello", class: "navbar-wagon-item navbar-wagon-link" %>


    <%= link_to "" "http://www.github.com/illyshelly" do %> <i class="fab fa-github"></i> <% end %>
    <%= link_to "" "http://www.instagram.com" do %> <i class="fab fa-instagram"></i> <% end %>
    <!-- < link_to "" "http://www.facebook.com" do %> <i class="fab fa-facebook"></i> < end > -->
    <%= link_to "" "http://www.twitter.com/illyshelly" do %> <i class="fab fa-twitter"></i> <% end %>
    <%= link_to "" "https://www.linkedin.com/in/ilona-sell/" do %> <i class="fab fa-linkedin"></i> <% end %>
  </div>
  <div class="footer-copyright">
    Cocktails made with <i class="fas fa-heart"></i>
  </div>
</div>
