<!-- <div class="container body-form fix-footer"> -->
  <!-- <div class="row"> -->
    <!-- <div class="col-xs-12 col-sm-8 col-sm-offset-2"> -->
  <!-- <div> -->

      <%= simple_form_for [cocktail, dose] do |f| %>
        <!-- <h4>Add dose to = @cocktail.name %></h4> -->

        <!-- get Ingredient.all ;{} created in seed.rb from JSON -->
        <%= f.association :ingredient %>
        <!-- volume of ingredient -->
        <%= f.input :description, placeholder: "5cl or a handful", class: "form-control-sm" %>
        <br>
        <%= f.button :submit, class: "btn btn-danger" %>
      <% end %>
  <!-- </div> -->
      <!-- <hr>
      <%= link_to "Back to cocktail", cocktail_path(@cocktail) %> -->
    <!-- </div> -->
  <!-- </div> -->
<!-- </div> -->



<!-- So for cocktail it works, I need ingredients -->
<!-- < f.association :ingredient, collection: Ingredient.all %> -->

<!-- 1. change controller -> new method for using new.html.erb -->
<!-- 2. remove form from extra page to show.html.erb -> from new.html.erb  -->
<!-- use PARTIAL for render 'doses/new' -->
<!-- 3. routes -> remove [:new] -->
<!-- 4. change Cocktail controller -> show method (find cocktail id && dose.new...) -->
